body {
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  font-family: "Mina", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1{
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

button{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #b3e5fc;
  width: 100%;
  padding: 20px;
  height: 10px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Sidebar 1fr, Main Content 3fr */
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}

.main-content {
  padding: 20px;
  background-color: rgb(221, 247, 247);
}

.main-content-button {
  padding: 10px 20px;
  margin: 20px;
  text-align: center;
  min-width: 150px;
  height: auto;
  width: 80%;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #daecde;
  cursor: pointer;
  border-radius: 20%;
}

.one {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.info {
  background-color: #e3f2fd;
  padding: 20px;
  border: 1px solid #90caf9;
  align-self: start; /* This ensures the info div only takes as much height as it needs */
  width: 100%; /* Ensure it takes full width but not extra height */
}

.profile_img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 20px;
}
